.game-info {
    margin-left: 20px;
}
 /*Gaming Style*/
.game-board {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.game-history {
    margin-top: 20px;
}